<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ page.title }}</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <div id="header_wrap" class="outer">
        <header class="inner">
        <span id="forkme_banner" ></span>
        <h1 id="project_title"><a href="/">FSR Geophysik Uni Hamburg</a></h1>
          <h2 id="project_tagline">Aktuelles, Infos zum Studium, Aktionen</h2>
          <nav>
            <ul>
              {% for p in site.pages %}
                {% if p.title != 'Home' %}
                  <li>
                    <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                      {{ p.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Schreib uns unter <a href="mailto:fsr-geophysik AT lists.zmaw.de">fsr-geophysik AT lists.zmaw.de</a></p>
      </footer>
    </div>



    </body>
</html>
